* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-size: 20px;
    z-index: 1;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#e66465, #9198e5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.to-do-list {
    background: bisque;
    width: 400px;
    height: 600px;
    border-radius: 20px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 10px solid bisque;
}

header {
    width: 100%;
    background: bisque;
}

input {
    z-index: 2;
    background-color: bisque;
    border-color: orange;
    border-radius: 40px;
    padding: 3px 15px;
}

.new-task {
    z-index: 2;
    width: 180px;
    margin-bottom: 30px;
    position: relative;
    transition: 0.5s;
}

.new-task:focus {
    z-index: 2;
    width: 270px;
    margin-bottom: 30px;
    position: relative;
    transition: 0.5s;
}

.sort-by {
    position: relative;
    background: lightblue;
    color: white;
    border-radius: 20px;
    padding: 8px;
}

.new-task-submit {
    position: relative;
    background: rgb(106, 167, 106);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 20px;
    float: right;
    width: 20%;
}

table.task-list {
    color: red;
    overflow-wrap: break-word;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.task-remove {
    background: rgb(255, 17, 0);
    color: white;
    cursor: default;
    border-radius: 50%;
}

td {
    border: 1px solid black;
    max-width: 200px;
}

#wrap {
    display: flex;
    flex-wrap: wrap;
}

::-webkit-scrollbar {
    color: transparent;
}
